<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Dashboard</title>
</head>
<body class="body">
  <div class="container">
    <h1>Login</h1>
    <% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
    <form class="form-1" action="/login" method="POST">
      <div class="field">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <i class="icon-user icon-large"></i>
      </div>
      <div class="field">
        <input type="password" id="password" name="password" placeholder="Password" required>
        <i class="icon-lock icon-large"></i>
      </div>
      <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>
  </div>
</body>
</html>