html {
  scroll-behavior: smooth;
}

body {
    background-color: #31102F;
    background: radial-gradient(ellipse at center, rgba(49,16,47,1) 0%, rgba(40,11,41,1) 100%);
    /* background: linear-gradient(to right, #ecf0f1, #7f8c8d); */
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
  
  }
  
  #stars {
    display: block;
    position: relative;
    width: 100%;
    height: 16rem;
    height: 100vh;
    z-index: 1;
  }

head {
    background-color: cornflowerblue;
}

.form-1 {
    /* Size & position */
    width: 300px;
    margin: 20px auto 30px;
    padding: 10px;
    position: relative; /* For the submit button positioning */

    /* Styles */
    box-shadow: 
        0 0 1px rgba(0, 0, 0, 0.3), 
        0 3px 7px rgba(0, 0, 0, 0.3), 
        inset 0 1px rgba(255,255,255,1),
        inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.ball {
    position: absolute;
    border-radius: 100%;
    opacity: 0.7;
  }

.form-1 .field {
    position: relative; /* For the icon positioning */
}

.container {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: block;
}


.container1 .p2 {
    font-size: 50px !important;
    color: #eeefef !important;
}

.container1 p {
    color: #eeefef !important;
}


.error {
    font-size: 25px !important;
    color: #eeefef !important;

}

.container1 {
    margin-top: 80px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    display: block;
    font-size: 50px;
    font-weight: bold;
}


.form-1 .field i {
    /* Size and position */
    left: 0px;
    top: 0px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    transition: all 0.3s ease-out;
    pointer-events: none;
}

.form-1 input[type=text],
.form-1 input[type=password],
.form-1 input[type=email] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 75%;
    padding: 10px 18px 10px 15px;

    /* Styles */
    border: none; /* Remove the default border */
    box-shadow: 
        inset 0 0 5px rgba(0,0,0,0.1),
        inset 0 3px 2px rgba(0,0,0,0.1);
    border-radius: 3px;
    background: #f9f9f9;
    color: #777;
    transition: color 0.3s ease-out;
}

.form-1 input[type=text],
.form-1 input[type=email] {
    margin-bottom: 20px;
}

.form-1 input[type=text]:hover ~ i,
.form-1 input[type=email]:hover ~ i,
.form-1 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-1 input[type=text]:focus ~ i,
.form-1 input[type=email]:focus ~ i,
.form-1 input[type=password]:focus ~ i {
    color: #42A2BC;
}

.form-1 input[type=text]:focus,
.form-1 input[type=email]:focus,
.form-1 input[type=password]:focus,
.form-1 button[type=submit]:focus {
    outline: none;
}

#button {
    padding: 10px 25px;
    border: none;
    color: #eeefef;
    border-radius: 5px;
    background: linear-gradient(to right, #8B008B, #8A2BE2);
}

#button:hover {
    background: linear-gradient(to left, #8B008B, #8A2BE2);
}

.form-1 button[type=submit] {
    align-items: center;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    /* padding: 5px 10px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f9f9f9;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  /* position: fixed !important; */
}

.navbar-brand img {
    opacity: 0.8 !important;
}

.navbar-brand img:hover {
    opacity: 1 !important;
}

a {
    opacity: 0.8 !important;
}

a:hover {
    opacity: 1 !important;
}

.row {
    display: flex;
}

.column {
    text-align: left;
    flex: 50%;
    padding: 10px;
}

.column h2 {
    font-size: 55px;
    font-weight: 700;
    padding-top: 70px;
    color: #ffffff;
    padding-bottom: 30px;
}

.column p {
    font-size: 20px !important;
    color: #ffffff;
    padding-bottom: 30px;
}

.info {
    margin-top: 50px;
}

.fas {
    width: 1.3em !important;
  }
  
  @media only screen and (max-width: 800px) {
    .inf {
      display: block !important;
    }
    .display-1 {
      font-size: 3rem;
    }
  }

.register {
    align-items: center;
    font-size: 20px;
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f9f9f9;
}

.register a {
    color: #eeefef !important;
}

.logout {
    align-items: center;
    font-size: 20px;
    /* padding: 15px 20px; */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f9f9f9;
}


.widget {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 300px;
    width: 600px;
    transform: translate(-50%, -50%);
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
  }
  
  .weatherLocation{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    background-color: #fafafa;
  }
  
  .weatherLocation button{
    background: #080705;
    color:#fff;
    border: 1px solid transparent;
  }
  .weatherLocation input:focus{
    outline: 0 none;
  }
  
  .widget .weatherIcon {
    flex: 1 100%;
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #FAFAFA;
    font-family: weathericons;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 100px;
  }
  .widget .weatherIcon i {
    padding-top: 30px;
  }
  .widget .weatherInfo {
    flex: 0 0 70%;
    height: 40%;
    background: #080705;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    color: white;
  }
  .widget .weatherInfo .temperature {
    flex: 0 0 40%;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: space-around;
  }
  .widget .weatherInfo .description {
    flex: 0 60%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .widget .weatherInfo .description .weatherCondition {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 100;
  }
  .widget .weatherInfo .description .place {
    font-size: 15px;
  }
  .widget .date {
    flex: 0 0 30%;
    height: 40%;
    background: rgb(68, 112, 207);
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 30px;
    font-weight: 800;
  }
  
#section07 a {
  padding-top: 80px;
} 
#section07 a span {
  position: absolute;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#section2 {
  font-size: 60px;
  /* background-image: url("../assets/galaxy.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

#section2 p {
  padding-top: 250px;
  padding-bottom: 180px;
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* footer */

.footer-basic {
  padding:40px 0;
  background-color: #222;
  color:#ffffff;
  border-color: #080808;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}


/* weather */

